.contents
  = render 'sidebar'

  .main
    .main-above
      .wrap
        .main-above__top
          = link_to edit_group_path(@group) do
            Edit
        %h2=@group.group_name
        %p Members:
        %span
          = @group.users.pluck(:name).join(",")
    .main-bottom
      .wrap
        %ul
          - @group.messages.each do |message|
            = render 'message', message: message
        = form_for [@group, @message], class: 'new-message-form' do |f|
          .new-message-form__body
            = f.text_area :body, row: 1, placeholder: "type a message"
            %label.new-message-form__body-file
              = f.file_field :image
              = fa_icon "picture-o"
          = f.submit 'Send', id: 'form-send'
