= form_for @group do |f|
  - if @group.errors.any?
    .chat-group-form__error
      %h2= "#{@group.errors.count}件のエラーが発生しました"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg


  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :group_name, 'グループ名', class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :group_name, class: 'chat-group-form__input', placeholder: 'グループ名を入力してください'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'チャットメンバーを追加', class: 'chat-group-form__label'
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input#user-search-field.chat-group-form__input{ type: "text", placeholder: '追加したいユーザー名を入力してください' }
      #user-search-result

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'チャットメンバー', class: 'chat-group-form__label'
    .chat-group-form__field--right
      #chat-group-users
        .chat-group-user.clearfix{ id: "chat-group-user-#{current_user.id}" }
          %input{ type: "hidden", name: "group[user_ids][]", value: current_user.id }
          %p.chat-group-user__name= current_user.name

        - @group.users.each do |user|
          = render 'user-edit-form', user: user

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit 'Save', class: 'chat-group-form__action-btn'
